$black: #000;

html,
body,
#app {
  height: 100%;
  overflow: hidden;
  width: 100%;
  margin: 0;
  background: $black;
}

#back-display {
  //height: 50%;
  //width: 100%;
  background: blue;
}

#floor-display {
  //height: 50%;
  //width: 100%;
  background: white;
}
